certifi==2018.4.16
chardet==3.0.4
click==6.7
docker-py==1.10.6
docker-pycreds==0.3.0
genson==1.0.1
idna==2.7
jsonschema==2.6.0
-e git+ssh://researchmike@gerrit.onap.org:29418/dcaegen2/platform/cli@4f039724360fbf13a8295c2074180fa5c9c0320b#egg=onap_dcae_cli&subdirectory=dcae-cli
onap-dcae-discovery-client==2.1.0
onap-dcae-dockering==1.4.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
python-consul==0.7.2
requests==2.19.1
six==1.11.0
SQLAlchemy==1.2.10
SQLAlchemy-Utils==0.33.3
terminaltables==3.1.0
urllib3==1.23
websocket-client==0.48.0
